name: CI/CD for OpenCart Automation

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run PyTest with Allure
        run: pytest --alluredir=allure-results || true

      - name: Generate Allure Report
        run: |
          pip install allure-pytest
          mkdir -p allure-report
          allure generate allure-results -o allure-report --clean

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          branch: gh-pages

      - name: Send Slack Notification
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          STATUS="*Test Results:* $(grep -oP '(?<=collected )\d+' allure-results/environment.properties) tests executed."
          REPORT_LINK="*View Allure Report:* https://majdmsallam.github.io/OpenCart_automation_project/"
          curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"$STATUS\n$REPORT_LINK\"}" $SLACK_WEBHOOK_URL
